{% extends "base.html" %}
{% load static %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Shopping Cart</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Wine</th>
                        <th>Image</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit price</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        {% with wine=item.wine %}
                            <tr>
                                <td>{{ wine.name }}</td>
                                <td>
                                    <a href="{{ wine.get_absolute_url }}">
                                        <img src="{% if wine.image %}{{ wine.image.url }}
                                                    {% else %}{% static 'img/no-image.png' %}{% endif %}"
                                             alt="{{ wine.name }}" class="img-responsive">
                                    </a>
                                </td>
                                <td>
                                <form action="{% url 'cart:cart_add' wine.id %}" method="post">
                                    {{ item.update_quantity_form.quantity }}
                                    {{ item.update_quantity_form.update }}
                                    <input type="submit" value="Update">
                                    {% csrf_token %}
                                </form>
                                </td>
                                <td>
                                    <form action="{% url "cart:cart_remove" wine.id %}" method="post">
                                        <input type="submit" value="Remove">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td class="num">{{ wine.price_per_unit }}€</td>
                                <td>{{ item.total_price }}</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    <tr class="total">
                        <td>Total</td>
                        <td colspan="4"></td>
                        <td class="num">{{ cart.get_total_price }}€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-right">
            <a href="{% url 'list_wines' %}" class="buttonlight">Continue Shopping</a>
            <a href="#" class="button">Checkout</a>
        </p>
    </div>
{% endblock %}