{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "images/wallpaper_small.jpg" %}');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url "home" %}">Home <i
                            class="fa fa-chevron-right"></i></a></span> <span>Cart <i
                            class="fa fa-chevron-right"></i></span>
                    </p>
                    <h2 class="mb-0 bread mt-3">Cart</h2>
                </div>
            </div>
        </div>
    </section>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tag }} text-center h2">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <section class="ftco-section testimony-section img" style="background-image: url({% static "images/winebackground2.jpg" %});"">
        <div class="container">
            <div class="row">
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="alert" role="alert">
                            {% for item in cart %}
                                {% with wine=item.wine %}
                                    <td>
                                        <a href ="{% url "detail_wine" wine.id%}"><div class="img" style="background-image: url({{ wine.image.url }});"></div></a>
                                    </td>
                                    <td>
                                        <a href ="{% url "detail_wine" wine.id%}"><div class="email">
                                            <span class="h4" style="color: #b7472a">{{ wine.name }}</span>
                                            <span class="h5" style="color: #0b0b0b">{{ wine.description }}</span>
                                        </div></a>
                                    </td>
                                    <td>
                                        <div class="price">€{{ wine.price_per_unit }}</div>
                                    </td>
                                    <td>
                                        <form action="{% url "cart:cart_add" wine.id %}" method="post">
                                            <select name="quantity" id="id_quantity_2" class="btn">
                                                {% for x in ""|center:wine.units_in_stock %}
                                                    <option value="
                                                            {% if forloop.counter == item.quantity %}{{ forloop.counter }}"
                                                            selected>
                                                                {{ forloop.counter }}{% else %}{{ forloop.counter }}">
                                                                {{ forloop.counter }}{% endif %}</option>
                                                {% endfor %}
                                            </select>
                                            <input type="hidden" name="update" value="True" id="id_update">
                                            <input type="submit" value="Update" class="btn btn-warning">
                                            {% csrf_token %}
                                        </form>
                                    </td>
                                    <td>
                                        <div class="total">€{{ item.total_price }}</div>
                                    </td>
                                    <td>
                                        <a href="{% url "cart:cart_remove" wine.id %}"
                                           class="btn btn-primary py-3 px-4">Remove</a>
                                    </td>
                                {% endwith %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col text-right">
                            <form action="{% url "list_wines" %}">
                                <input type="submit" class="btn btn-success" value="Continue Shopping"/>
                            </form>
                        </div>
                        <div class="col">
                            <form action="{% url "cart:cart_clear" %}" method="post" class="form-group">
                                {{ cart_product_form }}
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Confirm order">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}