{% extends "base.html" %}
{% load tz %}

{% block title %}
    {{ wine.name }}
{% endblock %}

{% block content %}
    <h1>Auctions</h1>
    <div class="container detail-page">
        <h3 class="mb-3"><span class="title">{{ wine.name }}</span></h3>
        <div class="image">
            <img class="big" src="{{ wine.image_url }}" alt="{{ wine.id }}" height="180" width="130">
        </div>
        <div class="wine-description">
            {% if wine.name != wine.description %}
            {{ wine.description }}
            {% endif %}
        </div>
        <div class="bid">
            Start Bid : <strong>€ {{ wine.start_bid }}</strong>
            <br>
            <b>HIGHEST BID : <strong>€ {{ max_bid }}</strong></b>
        </div>
        {% for bid in bids %}
            <div class="text-center">{{ bid.user.username }} bid <strong>€{{ bid.bid_value }}</strong> at
                {{ bid.date|date:"M d, h:i a" }}</div>
        {% empty %}
            <div class="alert alert-warning text-center">
                No Bids Yet!
            </div>
        {% endfor %}

        <section class="my-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
                         role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% if bid and wine.active == False %}

                <div class="alert alert-dark text-center">
                    {% if bid.user.username == user.username %}
                        You Won The Auction!
                    {% else %}
                        <strong>{{ bid.user.username }}</strong> won, with a bid of
                        <strong>${{ bid.bid_value }}</strong>
                    {% endif %}
                </div>

            {% endif %}

            {% if wine.active and user.is_authenticated %}
                <form action="{% url "bid" wine.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="number" name="bid" class="form-control" placeholder="Bid" step=".01">
                    </div>
                    <div class="row justify-content-around">
                        <button class="btn btn-primary" type="submit">Place Bid</button>
                        {% if wine.user.username == user.username and user.is_staff %}
                            <a href="{% url "end" wine.id %}">
                                <button class="btn btn-warning" type="button">End Auction</button>
                            </a>
                        {% endif %}
                    </div>
                </form>
            {% endif %}
        </section>

        <section>
            Details:
            <ul>
                <li>Listed By: <strong>{{ wine.user.username }}</strong></li>
                <li>Category: <strong>{{ wine.category.name }}</strong></li>
                <li>Listed On: <strong>{{ wine.date }}</strong></li>
                <li>End date: <strong>{{ wine_end_date }}</strong></li>
            </ul>
        </section>

        <section>
            Comments:
            {% for comment in comments %}
                <div class="card comment">
                    <div class="card-body">
                        <div class="card-title">
                            <strong>{{ comment.user.username }}</strong>: {{ comment.commentValue }}
                        </div>
                        <div class="card-text">
                            <small>Commented on: <strong>{{ comment.date|date:"M d, h:i a" }}</strong></small>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="alert alert-info mt-2">
                    No Comments Yet
                </div>
            {% endfor %}
            {% if wine.comments_allowed %}
                {% if user.is_authenticated %}
                    <form action="{% url "comment" wine.id %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea name="content" rows="4" class="form-control"
                                      placeholder="Enter a comment"></textarea>
                        </div>
                        <button class="btn btn-dark py-2 px-4" type="submit">Comment</button>
                    </form>
                {% endif %}
            {% endif %}
        </section>
    </div>
{% endblock %}