{% extends "base.html" %}

{% block content %}
    <h2 class="py-3 m-3">Auction Listings</h2>
    <table>
        <tr>
            {% for obj in objects %}
                <td>
                    <a href="{% url 'details' obj.id %}">
                        <div class="card">
                            <div class="card-body item text-center">
                                <h5>{{ obj.name }}</h5>
                                <br>
                                <a href="{% url 'details' obj.id %}">
                                    <img src="{{ obj.imageUrl }}" class="card-img-top" alt="..." width="350"
                                         height="250"></a>
                                <h6>Price: <strong>{{ obj.startBid }}€</strong></h6>
                                <small>Created: <strong>{{ obj.date|date:"d-m-Y" }}</strong></small><br>
                                {% if obj.active %}
                                    <span class="badge">Active</span>
                                {% else %}
                                    <span class="badge">Ended</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </td>
                {% if forloop.last %}
                    </tr>
                {% else %}
                    {% if forloop.counter|divisibleby:"3" %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </table>
{% endblock %}