{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Warket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container fixed">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
        <a class="navbar-brand {% if page_is == 'wines' %}nav-item nav-link active {%endif%}" href="/">Warket</a>
        <a class="navbar-brand {% if page_is == 'buy' %}nav-item nav-link active {%endif%}" href="/">Buy wines</a>
        <a class="navbar-brand {% if page_is == 'sell' %}nav-item nav-link active {%endif%}" href="/">Sell wines</a>
        <a class="navbar-brand {% if page_is == 'auction' %}nav-item nav-link active {%endif%}" href="/">Auctions</a>
        <a class="navbar-brand {% if page_is == 'contact' %}nav-item nav-link active {%endif%}" href="/">Cart</a>
        <a class="navbar-brand nav-item nav-link" onclick="history.back()">Go back</a>
            <ul class="nav navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_authenticated %}<a class="dropdown-item" href="/admin/">Admin page</a>
                    <a class="dropdown-item" href="/accounts/password_change/">Change password</a>
                    <a class="dropdown-item" href="/accounts/logout/">Logout</a>
                  {% else %}<a class="dropdown-item" href="/accounts/login">Login</a>
                            <a class="dropdown-item" href="/register/">Register</a>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>    <div class="container">
      <div class="jumbotron">
{#        <h1>{{request.path}}</h1>#}
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

</html>