{% extends "base.html" %}
{% block content %}
    <h5> Welcome user {% if user.first_name and user.last_name %} {{ user.first_name }} {{ user.last_name }}{% else %}
        {{ user.username }}{% endif %} to your shopping cart!</h5>
    <br>
    <table>
        <tr>
            {% for item in cart_data %}
                {% if item.user == request.user %}
                    <td>
                        <div class="card">
                            <div class="card-body">
                                <h5>{{ item.wine.name }}</h5>
                                <p>Description: {{ item.wine.description }}</p>
                                <p>Price per unit: {{ item.wine.price_per_unit }} €</p>
                                <p>Item quantity: {{ item.quantity }}</p>
                                <img src="{{ item.wine.image.url }}" class="card-img-top" alt="..." width="88"
                                     height="63"></a>
                            </div>
                        </div>
                    </td>
                    {% if forloop.last %}
                        </tr>
                    {% else %}
                        {% if forloop.counter|divisibleby:"3" %}
                            </tr>
                            <tr>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
    </table>
    <br>
    <h5>Total price: {{ total }} €</h5>

{% endblock %}