{% extends "base.html" %}

{% block content %}
<p>
<h2>Details of manufacturer</h2>
</p>
<p> Name - {{ manufacturer_data.name}}</p>
<p> Image - {{ manufacturer_data.image}}</p>
<p> Country - {{ manufacturer_data.country}}</p>
<p> Region - {{ manufacturer_data.region}}</p>
<p> Bio - {{ manufacturer_data.bio}}</p>
<p></p>

<a href="{% url 'create_manufacturer' %}">Create new Manufacturer</a>
<p></p>
<a href="{% url 'update_manufacturer' manufacturer_data.pk  %}">Update Manufacturer</a>
<p></p>
<a href="{% url 'delete_manufacturer' manufacturer_data.pk  %}">Delete Manufacturer</a>
<p></p>

{% endblock %}