{% extends "base.html" %}
{% block content %}
    <h2>Wine details </h2>
    <p> Name: {{ wine_data.name }} </p>
    <p> Description {{ wine_data.description }}</p>
    <p> Rating: {{ wine_data.rating }} </p>
    <p> Price: {{ wine_data.price }} </p>
    <p> Grape variety: {{ wine_data.grape_variety }} </p>
    <p> Vintage: {{ wine_data.vintage }} </p>
    <p> Alcohol content: {{ wine_data.alcohol_content }} </p>
    <p> Price per Unit: {{ wine_data.price_per_unit }}</p>
    <p> Units in stock: {{ wine_data.units_in_stock }}</p>
    <p> Units in auction: {{ wine_data.units_in_auction }}</p>
    <p> Manufacturer: {{ wine_data.manufacturer }}</p>
    <p> Type: {{ wine_data.type }}</p>
    <p> Variety: {{ wine_data.variety }}</p>
    <p> Image: <img src="{{ wine_data.image.url }}"></p>
    <a href="{% url 'edit_wine'  wine_data.pk %}">Edit</a>
    {#    <a href="{% url 'delete_wine'  wine_data.pk %}">Delete</a>#}

{% endblock %}
