{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href=" {% static "/css/style.css" %}">
    <h2>Wine details </h2>

    <div class="content-section">
        <p> Name: {{ wine_data.name }} </p>
        <p> Description {{ wine_data.description }}</p>
        <p> Rating: {{ wine_data.rating }} </p>
        <p> Price: {{ wine_data.price }} </p>
        <p> Grape variety: {{ wine_data.grape_variety }} </p>
        <p> Vintage: {{ wine_data.vintage }} </p>
        <p> Alcohol content: {{ wine_data.alcohol_content }} </p>
        <p> Price per Unit: {{ wine_data.price_per_unit }}</p>
        <p> Units in stock:
            {% if wine_data.units_in_stock %}{{ wine_data.units_in_stock }}{% else %}<b>Out of stock</b>{% endif %}</p>
        <p> Units in auction: {{ wine_data.units_in_auction }}</p>
        <p> Manufacturer: {{ wine_data.manufacturer }}</p>
        <p> Type: {{ wine_data.type }}</p>
        <p> Variety: {{ wine_data.variety }}</p>
        <p> Image: <img src="{{ wine_data.image.url }}"></p>
        <p> Seller: {{ wine_data.user }}</p>
        {% if user == wine_data.user %}
            <br>
            <a href="{% url "edit_wine"  wine_data.pk %}">Edit</a>
            <br>
            <a href="{% url "delete_wine"  wine_data.pk %}">Delete</a>
            <br>
            <br>
        {% endif %}
        {% if wine_data.units_in_stock %}
            <table>
                <form action="{% url "cart:cart_add" wine_data.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <th><label for="id_quantity_2">Quantity:</label></th>
                    <td><select name="quantity" id="id_quantity_2">
                        {% for x in ""|center:wine_data.units_in_stock %}
                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <input type="hidden" name="update" value="False" id="id_update">
                    <input type="submit" value="Add to cart" class="btn btn-primary">
                </form>
            </table>
        {% endif %}
        <script src="{% static "/js/script.js" %}"></script>
    </div>
{% endblock %}