{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h2>Wines list</h2>
    <div class="container">
    <form method="get">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for a delicious wine" name="search">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit">
                    <i class="bi bi-search">Search</i>
                </button>
            </div>
        </div>
    </form>
    <table>
        <tr>
            {% for wine in wines_data %}
                <td>
                    <div class="card">
                        <div class="card-body">
                            <h5>{{ wine.name }}</h5>
                            <br>
                                                <b><p> {{ wine.type }}</p></b>
{#                            <p>{{ wine.description }}</p>#}
                            <a href="{% url "detail_wine" wine.pk %}">
                                <img src="{{ wine.image.url }}" class="card-img-top" alt="..." width="350" height="250"></a>
                            <p>{{ wine.vintage }} by {{ wine.manufacturer }}</p>
                            <p>{{ wine.price_per_unit }} €</p>
                        <p> {{ wine.type }}</p>
                            {% if wine.units_in_stock %}
                                <table>
                                    <form action="{% url "cart:cart_add" wine.id %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_product_form }}
                                        <label for="id_quantity_2">Quantity:</label>
                                        <select name="quantity" id="id_quantity_2">
                                            {% for x in ""|center:wine.units_in_stock %}
                                                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                            {% endfor %}
                                        </select>
                                        <input type="hidden" name="update" value="False" id="id_update">
                                        <input type="submit" value="Add to cart" class="btn btn-primary" style="float: right">
                                    </form>
                                </table>
                            {% else %}
                                <p><b>Out of stock</b></p>
                            {% endif %}
                        <br>
{#                        {% if user == wine.user %}#}
{#                            <a href="{% url "delete_wine" wine.pk %}" class="btn btn-primary" style="float: left">Delete</a>#}
{#                        {% endif %}#}

                        </div>
                    </div>
                </td>
                {% if forloop.last %}
                    </tr>
                {% else %}
                    {% if forloop.counter|divisibleby:"3" %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </table>
    <script src="{% static "/js/script.js" %}"></script>
{% endblock %}


