{% extends "base.html" %}
{% block content %}
    {% load static %}
    {#  Below navbarn  #}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "images/wallpaper_small.jpg" %}');"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="{% url "list_wines" %}">Home <i
                            class="fa fa-chevron-right"></i></a></span> <span>E-Shop <i class="fa fa-chevron-right"></i></span>
                    </p>
                    <h2 class="mb-0 bread mt-3">E-shop</h2>
                </div>
            </div>
        </div>
    </section>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tag }} text-center h2">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="testimony-section img" style="background-image: url({% static "images/winebackground2.jpg" %});">
        <section>
            <div class="container">
                <div class="row" style="transform: scale(0.7)">

                    <div class="col-lg-2 col-md-4 ">
                        <a href="./?search=Red">
                            <div class="sort w-100 text-center ftco-animate">
                                <div class="img" style="background-image: url({% static "images/red.png" %});"></div>
                                <h2 class="{% if "search=Red" in request.get_full_path %}blink-text{% endif %}">Red</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <a href="./?search=White">
                            <div class="sort w-100 text-center ftco-animate">
                                <div class="img" style="background-image: url({% static "images/white.jpg" %});"></div>
                                <h2 class="{% if "search=White" in request.get_full_path %}blink-text{% endif %}">
                                    White</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <a href="./?search=Sparkling">
                            <div class="sort w-100 text-center ftco-animate">
                                <div class="img"
                                     style="background-image: url({% static "images/sparkling.png" %});"></div>
                                <h2 class="{% if "search=Sparkling" in request.get_full_path %}blink-text{% endif %}">
                                    Sparkling</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <a href="./?search=Rose">
                            <div class="sort w-100 text-center ftco-animate">
                                <div class="img" style="background-image: url({% static "images/rose.jpg" %});"></div>
                                <h2 class="{% if "search=Rose" in request.get_full_path %}blink-text{% endif %}">
                                    Rose</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <a href="./?search=Dessert">
                            <div class="sort w-100 text-center ftco-animate">
                                <div class="img"
                                     style="background-image: url({% static "images/dessert.jpg" %});"></div>
                                <h2 class="{% if "search=Dessert" in request.get_full_path %}blink-text{% endif %}">
                                    Dessert</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-4 ">
                        <a href="./?search=Other">
                            <div class="sort w-100 text-center ftco-animate">
                                <div class="img" style="background-image: url({% static "images/vermut.png" %});"></div>
                                <h2 class="{% if "search=Other" in request.get_full_path %}blink-text{% endif %}">
                                    Other</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Search for wine name, vintage, type - 'Cabernet Sauvignon' '1999' 'white'"
                           name="search">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">
                            <i class="bi bi-search">Search</i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-11">
                    <div class="row">
                        {% for wine in wines_data %}
                            <div class="col-md-3 d-flex">
                                <div class="product ftco-animate">
                                    <div class="card-body">
                                        <a href="{% url "detail_wine" wine.id %}">
                                            <div class="img d-flex align-items-center justify-content-center"
                                                 style="background-image: url(
                                                         {% if wine.image %}{{ wine.image.url }}{% else %}{{ wine.thumbnail.url }}{% endif %}); border-radius: 10%; height:150px; width: auto">
                                                <div class="desc">
                                                    <p class="meta-prod d-flex">

                                                        <span class="flaticon-visibility"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="text text-center">
                                            <div class="w-100">
                                                <div style="height: 60px" class="w-100">
                                                    <a href="{% url "detail_wine" wine.id %}">
                                                        <span class="category font-weight-bold mt-2">{{ wine.name|slice:25 }}
                                                            {% if wine.name|length > 25 %}...{% endif %}</span></a>
                                                </div>
                                                <div style="height: 60px">
                                                    <a class="mb-0" href="{% url "detail_wine" wine.id %}">
                                                        <span class="mt-2">{{ wine.description|slice:25 }}
                                                            {% if wine.description|length > 25 %}
                                                                ...{% endif %}</span></a>
                                                </div>
                                                <div class="border-top border-bottom">
                                                    <a class="mt-0" href="{% url "detail_wine" wine.id %}">
                                                        <span>Price: €{{ wine.price_per_unit }}</span></a>
                                                </div>
                                            </div>
                                            <div class="mt-auto">
                                                <form action="{% url "cart:cart_add" wine.id %}" method="post">
                                                    {% csrf_token %}
                                                    <span class="price">
                                                    <label for="id_quantity_2">Amount:</label>
                                                    <select name="quantity" id="id_quantity_2" class="btn">
                                                        {% for x in ""|center:wine.units_in_stock %}
                                                            <option value="{{ forloop.counter }}">{{ forloop.counter }} pc</option>
                                                        {% endfor %}
                                                    </select>
                                                </span>
                                                    <input type="hidden" name="update" value="False" id="id_update">
                                                    <input type="submit" value="Add to cart" class="btn btn-primary">
                                                </form>
                                                {% if user.username == wine.user.username %}
                                                    <a href="{% url "edit_wine" wine.id %}"
                                                       class="btn btn-secondary mt-3">Edit</a>
                                                    <a href="{% url "delete_wine" wine.id %}"
                                                       class="btn btn-danger mt-3">Delete</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.last %}
                                </div>
                            {% else %}
                                {% if forloop.counter|divisibleby:"4" %}
                                    </div>
                                    <div class="row mt-5">
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
            </div>
        </div>
    </div>
{% endblock %}